/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
}
a {
    text-decoration: none;
    color: #333;
}
a, a:focus {
	outline: none;
}
input, a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance: none;
}
img {
    vertical-align: top;
}
html, body {
	width: 100%;
	height: 100%;
}
body {
	overflow-x: hidden;
	min-width: 982px;
	font-family: 'Microsoft YaHei', "SF Pro SC","SF Pro Display","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-size: 12px;
	background-color: #f5f5f5;

    -webkit-text-size-adjust: none;
}
button, input {
	border: none;
	background-color: #fff;
	outline: none;
}


.fl {
	float: left;
}
.fr {
	float: right;
}
.clearfix:after {content:"."; display:block; height:0; visibility:hidden; clear:both; }
.clearfix { *zoom:1; }
.t-udl:hover {
	text-decoration: underline;
}
.t-hide {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// icon
.icon-header {
	background-image: url(../img/icon-header.png);
	background-repeat: no-repeat;
}
.icon-three {
	background-image: url(../img/icon-three.png);
	background-repeat: no-repeat;
}
.icon-user {
	background-image: url(../img/icon-user.png);
	background-repeat: no-repeat;
}
.icon-banner {
	background-image: url(../img/icon-banner.png);
	background-repeat: no-repeat;
}
.icon-four {
	background-image: url(../img/icon-four.png);
	background-repeat: no-repeat;
}
.icon-five {
	background-image: url(../img/icon-five.png);
	background-repeat: no-repeat;
}
.icon-coverall {
	background-image: url(../img/icon-coverall.png);
	background-repeat: no-repeat;
}
.icon-six {
	background-image: url(../img/icon-six.png);
	background-repeat: no-repeat;
}
.icon-seven {
	background-image: url(../img/icon-seven.png);
	background-repeat: no-repeat;
}
.icon-eight {
	background-image: url(../img/icon-eight.png);
	background-repeat: no-repeat;
}
.icon-date {
	background-image: url(../img/icon-date.png);
	background-repeat: no-repeat;
}
.icon-button,
.u-btn2,
.u-btn2 i {
	background-image: url(../img/icon-button.png);
	background-repeat: no-repeat;
}
.icon-button2 {
	background-image: url(../img/icon-button2.png);
	background-repeat: no-repeat;
}


// button
.u-btn2 {
	padding-right: 5px;
}
.u-btn2, .u-btn2 i {
	overflow: hidden;
	display: inline-block;
	height: 31px;
	line-height: 31px;
	text-align: center;
	vertical-align: top;
}


// =============公共模块=============
// 头部
#header_top {
	.inner {
		height: 69px;
		border-bottom: 1px solid #000;
		background-color: #242424;
	}
	
	.container {
		width: 1100px;
		margin: 0 auto;
	}
	.logo {
		a {
			display: block;
			width: 176px;
			height: 70px;
		}
	}
	.nav {
		li {
			float: left;
			position: relative;
		}
		a {
			display: block;
			padding: 0 19px;
			height: 70px;
			line-height: 70px;
			text-align: center;
			color: #ccc;
			font-size: 14px;
			
			&:hover, &.nav-active {
				color: #fff;
				background-color: #000;
			}
		}
		.icon-hot {
			position: absolute;
			top: 21px;
			right: -22px;
			width: 26px;
			height: 13px;
			background-position: -192px 0;
		}
		.icon-arrow {
			position: absolute;
			left: 50%;
			top: 64px;
			width: 12px;
			height: 7px;
			margin-left: -6px;
			overflow: hidden;
			background-position: -226px 0;
		}
	}
	.fr {
		padding-top: 19px;
	}
	.search {
		position: relative;
		
		.icon-search {
			position: absolute;
			left: 0;
			top: 0;
			width: 28px;
			height: 32px;
			background-position: 0 -98px;
		}
		input {
			width: 120px;
			height: 32px;
			padding-left: 28px;
			padding-right: 10px;
			line-height: 32px;
			border-radius: 32px;
			font-size: 12px;
		}
	}
	.search-result {
		position: absolute;
		z-index: 999;
		top: 40px;
		width: 240px;
		border: 1px solid #bebebe;
		border-radius: 4px;
		background: #fff;
		box-shadow: 0 4px 7px #555;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
		
		.title {
			height: 39px;
			line-height: 39px;
			border-bottom: 1px solid #e2e2e2;
			color: #666;
			
			a {
				margin-left: 10px;
				
				&:hover {
					background-color: #e3e5e7;
				}
			}
		}
		.item {}
		.item-odd .value {
			background-color: #f9f8f8;
		}
		.key {
			display: flex;
			align-items: center;
			justify-content: center;
			float: left;
			width: 62px;
			min-height: 34px;
			line-height: 34px;
			cursor: default;
			
			i {
				margin: 3px 2px 0 0;
				width: 14px;
				height: 15px;
			}
		}
		.item-songs .key i {
			background-position: -35px -300px;
		}
		.item-albums .key i {
			background-position: -35px -320px;
		}
		.item-artists .key i {
			background-position: -50px -300px;
		}
		.item-playlists .key i {
			background-position: -50px -320px;
		}
		.item-mvs .key i {
			background-position: -60px -862px;
		}
		.value {
			width: 177px;
			padding: 6px 0 5px;
			margin-left: 62px;
			border-left: 1px solid #e2e2e2;
			border-top: 1px solid #e2e2e2;
			
			li {}
			a {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				display: block;
				height: 24px;
				line-height: 24px;
				padding-left: 12px;

				&:hover {
					background-color: #e2e6e9;
				}
			}
			span {
				color:#0c73c2;
			}
		}
		.item-first .value {
			border-top: none;
		}
	}
	.submit {
		margin: 0 20px 0 12px;
		width: 90px;
		height: 32px;
		line-height: 32px;
		padding-left: 32px;
		background-position: 0 -140px;
		cursor: pointer;
		color: #ccc;
		box-sizing: border-box;

		&:hover {
			color: #fff;
			background-position: -100px -140px;
		}
	}
	.user {
		position: relative;

		.btn {
			position: relative;
			padding-right: 26px;
			height: 40px;
			
			a {
				line-height: 32px;
				color: #787878;
			}
			&:hover a {
				color: #999;
			}
			img {
				width: 30px;
				height: 30px;
				border-radius: 100%;
			}
			.icon-arrow {
				position: absolute;
				top: 13px;
				right: 0;
				width: 12px;
				height: 8px;
				background-position: -228px -60px;
			}
		}
		.list {
			display: none;
			position: absolute;
			z-index: 998;
			top: 39px;
			right: -43px;
			width: 158px;
			background: #2b2b2b;
			border: 1px solid #202020;
			box-shadow: 0 8px 24px 0 rgba(0,0,0,0.50);
			border-radius: 4px;
			

			li:first-child a {
				border-top-left-radius: 4px;
				border-top-right-radius: 4px;
			}
			&:before {
				content: '';
				position: absolute;
				left: 50%;
				top: -8px;
				width: 14px;
				height: 8px;
				margin-left: -8px;
				background-image: url('../img/icon-user.png');
				background-repeat: no-repeat;
				background-position: -20px 0;
			}
			a {
				display: block;
				width: 100%;
				height: 38px;
				line-height: 38px;
				color: #ccc;

				&:hover {
					color: #fff;
					background-color: #353535;
				}
			}
			.icon-user {
				float: left;
				margin: 10px 10px 0 16px;
				width: 18px;
				height: 18px;
				background-image: url('../img/icon-user.png');
				background-repeat: no-repeat;
			}
			.icon-phone {background-position: 0 0;}
			.icon-wx {width: 20px; background-position: -20px -20px;}
			.icon-qq {background-position: -18px -40px;}
			.icon-sina {background-position: 0 -20px;}
			.icon-163 {background-position: 0 -40px;}
			.icon-mypage {background-position: 0 -80px;}
			.icon-msg {background-position: -18px -120px;}
			.icon-level {background-position: 0 -98px;}
			.icon-vip {background-position: 0 -220px;}
			.icon-prove {background-position: -20px -142px;}
			.icon-quit {background-position: 0 -200px;}
		}
		&:hover .list {
			display: block;
		}
		.not-login li, .logined .line {
			border-bottom: 1px solid #232323;
		}
		.not-login li:last-child {
			border-bottom: none;
		}
		.logined {
			&:before {
				margin-left: -9px;
			}
			a {
				height: 34px;
				line-height: 34px;
			}
			.icon-user {
				margin: 9px 10px 0 24px;
			}
		}
	}

	.bar {
		// height: 34px;
		min-height: 4px;
		background-color: #C20C0C;
		border-bottom: 1px solid #a40011;

		ul {
			position: relative;
			left: 180px;
			width: 1100px;
			height: 34px;
			margin: 0 auto;
		}
		li {
			float: left;
			margin: 6px 16px 0;
		}
		a {
			display: block;
			height: 20px;
			line-height: 21px;
			padding: 0 14px;
			color: #fff;
			border-radius: 20px;
		}
		li.bar-active a, li:hover a {
			background: #9B0909;
		}
	}
}

// 主体内容
.g-bd {
	position: relative;
	width: 980px;
	min-height: calc(100vh - 105px);
	margin: 0 auto;
	border: 1px solid #d3d3d3;
	border-width: 0 1px;
	background-color: #fff;
}

// 底部
#footer {
	position: relative;
    height: 148px;
    overflow: hidden;
    border-top: 1px solid #d3d3d3;
    background: #f2f2f2;
}

// 返回顶部按钮
#m_back a {
	position: fixed;
	left: 50%;
	bottom: 160px;
	width: 49px;
	height: 44px;
	margin-left: 500px;
	background-position: -265px -47px;

	&:hover {
		background-position: -325px -47px;
	}
}

// 歌曲列表table
#m_table {
	width: 100%;
	border: 1px solid #d9d9d9;

	th, th .key, .play, .oper a, .mv {
		background-image: url(../img/icon-table.png);
		background-repeat: no-repeat;
	}

	th {
		height: 38px;
		color: #666;
		margin: 0;
		padding: 0;
		text-align: left;
		background-repeat: repeat-x;
		vertical-align: top;

		&.first {
			width: 77px;
		}
		&.t2 {
			width: 91px;
		}
		&.t3 {
			width: 93px;
		}
		&.t4 {
			width: 125px;
		}
		
		.key {
			padding: 8px 10px;
			height: 18px;
			line-height: 18px;
			background-position: 0 -56px;
		}
	}
	
	tbody {
		tr.even {
			background-color: #f7f7f7;
		}
		td {
			padding: 6px 10px;
			line-height: 18px;
			text-align: left;
			vertical-align: middle;
		}
		.no {
			float: left;
			// width: 26px;
			width: 100%;
			color: #666;
			text-align: center;
		}
		.status {
			float: right;
			width: 16px;
			height: 17px;
			background-position: -67px -283px;
		}
		.status-up {
			width: 6px;
			height: 18px;
			padding-left: 10px;
			background-position: -74px -300px;
			font-size: 10px;
			color: #d33a31;
		}
		.status-down {
			width: 6px;
			height: 18px;
			padding-left: 10px;
			background-position: -74px -320px;
			font-size: 10px;
			color: #4ab8ea;
		}
		.title {
			width: 100%;
			
			.pic {
				float: left;
				margin-right: 14px;
				
				img {
					width: 50px;
					height: 50px;
				}
			}
			.play {
				float: left;
				width: 17px;
				height: 17px;
				margin-right: 8px;
				background-position: 0 -103px;
				vertical-align: middle;
				cursor: pointer;

				&:hover {
					background-position: 0 -128px;
				}
				&.play-active {
					background-position: -20px -128px;
				}
			}
			.ttc {
				height: 18px;
				margin-right: 20px;

				.text {
					float: left;
					max-width: 92%;
					position: relative;
					padding-right: 25px;
					margin-right: -25px;
				}
				.tip {
					color: #aeaeae;
				}
				.mv {
					position: absolute;
					top: 0;
					right: 0;
					width: 23px;
					height: 17px;
					margin: 1px 0 0 0;
					background-position: 0 -151px;
				}
			}
		}
		.time span {
			color: #666;
		}
		.no-top {
			.title {
				padding-top: 10px;
				padding-bottom: 10px;
			}
			.ttc {
				margin-top: 18px;
			}
			.text {
				max-width: 75% !important;
			}
			
		}
		.oper {
			display: none;
			margin-right: -10px;
			
			a {
				float: left;
				width: 18px;
				height: 16px;
				margin: 2px 0 0 4px;
			}
			.add {
				width: 13px;
				height: 13px;
				margin: 2px 0 0 0;
				background-image: url(../img/icon-six.png);
				background-position: 0 -700px;

				&:hover {
					background-position: -22px -700px;
				}
			}
			.collect {
				background-position: 0 -174px;

				&:hover {
					background-position: -20px -174px;
				}
			}
			.share {
				background-position: 0 -195px;

				&:hover {
					background-position: -20px -195px;
				}
			}
			.download {
				background-position: -81px -174px;

				&:hover {
					background-position: -104px -174px;
				}
			}
		}
		tr:hover {
			.time span {
				display: none;
			}
			.oper {
				display: block;
			}
		}
		.singer {
			width: 100%;
		}
	}
}

// 评论区域
#comment {
	margin-top: 40px;
}
.comment-oper {
	& > .top {
		height: 31px;
		line-height: 24px;
		margin-bottom: 20px;
		border-bottom: 2px solid #c20c0c;
		
		h3 {
			float: left;
			font-size: 20px;
		}
		.sont-num {
			float: left;
			padding-left: 20px;
			line-height: 31px;
			color: #666;
		}
	}
	.user-avatar {
		width: 50px;
		height: 50px;
	}
	.right {
		margin-left: 62px;
	}
	.text {
		padding-right: 14px;

		textarea {
			display: block;
			width: 100%;
			height: 50px;
			padding: 6px;
			border: 1px solid #cdcdcd;
			border-radius: 2px;
			resize: none;
			outline: none;
		}
	}
	.operation {
		overflow: hidden;
		margin: 10px 0 24px;

		.icon-six {
			display: inline-block;
			width: 18px;
			height: 18px;
			margin-right: 10px;
			cursor: pointer;
		}
		.icon-emoji {
			background-position: -40px -490px;
		}
		.icon-find {
			background-position: -60px -490px;
		}
		.num {
			display: inline-block;
			margin-right: 10px;
			line-height: 25px;
			color: #999;
		}
		.btn {
			display: inline-block;
			width: 46px;
			height: 25px;
			background-position: -84px -64px;
			color: #fff;
			text-align: center;
			line-height: 25px;
		}
	}
}
.comment-list {
	dt {
		position: relative;
		top: 1px;
		height: 24px;		
		line-height: 24px;
		border-bottom: 1px solid #cfcfcf;
		font-weight: bold;
	}
	dd {
		overflow: hidden;
		padding: 15px 0;
		border-top: 1px dotted #ccc;
	}
	.avatar {
		width: 50px;
		height: 50px;
	}
	.right {
		margin-left: 60px;
	}
	.comment {
		line-height: 20px;
		
		a {
			color: #0c73c2;
		}
		img {
			vertical-align: middle;
		}
		.icon-vip {
			width: 26px;
			height: 12px;
			margin: 0 6px;
		}
	}
	.replay {
		position: relative;
		margin-top: 10px;
		padding: 8px 18px;
		line-height: 20px;
		border: 1px solid #dedede;
		background-color: #f4f4f4;
		color: #666;

		a {
			color: #0c73c2;
		}
		.arrow {
			position: absolute;
			left: 20px;
			top: -8px;
			font-size: 12px;
			line-height: 14px;
			
			i {
				position: absolute;
				left: 0;
				top: 0;
			}
			i.bd {
				color: #dedede;
			}
			i.bg {
				top: 1px;
				color: #f4f4f4;
			}
		}
		.icon-vip {
			width: 26px;
			height: 12px;
			margin: 0 6px;
			vertical-align: -1px;
		}
	}
	.oper {
		margin-top: 14px;
		line-height: 18px;
		
		.time {
			color: #999;
		}
		.icon-like {
			display: inline-block;
			width: 15px;
			height: 14px;
			margin-right: 5px;
			background-position: -150px 0;
			vertical-align: -2px;
			
			&:hover {
				background-position: -150px -20px;
			}
		}
		.line {
			margin: 0 8px;
			color: #ccc;
		}
		.replay-btn {
			color: #666;
		}
	}
	.hot-comment {
		margin-bottom: 40px;
	}
}

// 分页
#paging {
	margin: 20px 0;
	text-align: center;
	
	.ant-pagination ul,
	.ant-pagination ol {
	margin: 0;
	padding: 0;
	list-style: none;
	}
	.ant-pagination:after {
	// content: ' ';
	// display: block;
	// height: 0;
	// clear: both;
	// overflow: hidden;
	// visibility: hidden;
	}
	.ant-pagination-total-text {
	display: inline-block;
	vertical-align: middle;
	height: 32px;
	line-height: 30px;
	margin-right: 8px;
	}
	.ant-pagination-item {
	cursor: pointer;
	border-radius: 4px;
	-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
	min-width: 32px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	list-style: none;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #d9d9d9;
	background-color: #fff;
	margin-right: 8px;
	font-family: Arial;
	outline: 0;
	}
	.ant-pagination-item a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.65);
	-webkit-transition: none;
	transition: none;
	margin: 0 6px;
	}
	.ant-pagination-item:focus,
	.ant-pagination-item:hover {
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	border-color: #1890ff;
	}
	.ant-pagination-item:focus a,
	.ant-pagination-item:hover a {
	color: #1890ff;
	}
	.ant-pagination-item-active {
	border-color: #1890ff;
	font-weight: 500;
	}
	.ant-pagination-item-active a {
	color: #1890ff;
	}
	.ant-pagination-item-active:focus,
	.ant-pagination-item-active:hover {
	border-color: #40a9ff;
	}
	.ant-pagination-item-active:focus a,
	.ant-pagination-item-active:hover a {
	color: #40a9ff;
	}
	.ant-pagination-jump-prev,
	.ant-pagination-jump-next {
	outline: 0;
	}
	.ant-pagination-jump-prev .ant-pagination-item-container,
	.ant-pagination-jump-next .ant-pagination-item-container {
	position: relative;
	}
	.ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon,
	.ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon {
	display: inline-block;
	font-size: 12px;
	font-size: 12px \9;
	-webkit-transform: scale(1) rotate(0deg);
		-ms-transform: scale(1) rotate(0deg);
			transform: scale(1) rotate(0deg);
	color: #1890ff;
	letter-spacing: -1px;
	opacity: 0;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	}
	:root .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon,
	:root .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon {
	font-size: 12px;
	}
	.ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon-svg,
	.ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon-svg {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	}
	.ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis,
	.ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis {
	position: absolute;
	display: block;
	letter-spacing: 2px;
	color: rgba(0, 0, 0, 0.25);
	text-align: center;
	opacity: 1;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	}
	.ant-pagination-jump-prev:focus .ant-pagination-item-link-icon,
	.ant-pagination-jump-next:focus .ant-pagination-item-link-icon,
	.ant-pagination-jump-prev:hover .ant-pagination-item-link-icon,
	.ant-pagination-jump-next:hover .ant-pagination-item-link-icon {
	opacity: 1;
	}
	.ant-pagination-jump-prev:focus .ant-pagination-item-ellipsis,
	.ant-pagination-jump-next:focus .ant-pagination-item-ellipsis,
	.ant-pagination-jump-prev:hover .ant-pagination-item-ellipsis,
	.ant-pagination-jump-next:hover .ant-pagination-item-ellipsis {
	opacity: 0;
	}
	.ant-pagination-prev,
	.ant-pagination-jump-prev,
	.ant-pagination-jump-next {
	margin-right: 8px;
	}
	.ant-pagination-prev,
	.ant-pagination-next,
	.ant-pagination-jump-prev,
	.ant-pagination-jump-next {
	font-family: Arial;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.65);
	border-radius: 4px;
	list-style: none;
	min-width: 32px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	display: inline-block;
	vertical-align: top;
	}
	.ant-pagination-prev,
	.ant-pagination-next {
	outline: 0;
	}
	.ant-pagination-prev a,
	.ant-pagination-next a {
	color: rgba(0, 0, 0, 0.65);
	-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
	}
	.ant-pagination-prev:hover a,
	.ant-pagination-next:hover a {
	border-color: #40a9ff;
	}
	.ant-pagination-prev .ant-pagination-item-link,
	.ant-pagination-next .ant-pagination-item-link {
	border: 1px solid #d9d9d9;
	background-color: #fff;
	border-radius: 4px;
	outline: none;
	display: block;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	font-size: 12px;
	height: 100%;
	text-align: center;
	}
	.ant-pagination-prev:focus .ant-pagination-item-link,
	.ant-pagination-next:focus .ant-pagination-item-link,
	.ant-pagination-prev:hover .ant-pagination-item-link,
	.ant-pagination-next:hover .ant-pagination-item-link {
	border-color: #1890ff;
	color: #1890ff;
	}
	.ant-pagination-disabled,
	.ant-pagination-disabled:hover,
	.ant-pagination-disabled:focus {
	cursor: not-allowed;
	}
	.ant-pagination-disabled a,
	.ant-pagination-disabled:hover a,
	.ant-pagination-disabled:focus a,
	.ant-pagination-disabled .ant-pagination-item-link,
	.ant-pagination-disabled:hover .ant-pagination-item-link,
	.ant-pagination-disabled:focus .ant-pagination-item-link {
	border-color: #d9d9d9;
	color: rgba(0, 0, 0, 0.25);
	cursor: not-allowed;
	}
	.ant-pagination-slash {
	margin: 0 10px 0 5px;
	}
	.ant-pagination-options {
	display: inline-block;
	vertical-align: middle;
	margin-left: 16px;
	}
	.ant-pagination-options-size-changer.ant-select {
	display: inline-block;
	width: auto;
	margin-right: 8px;
	}
	.ant-pagination-options-quick-jumper {
	display: inline-block;
	vertical-align: top;
	height: 32px;
	line-height: 32px;
	}
	.ant-pagination-options-quick-jumper input {
	position: relative;
	display: inline-block;
	padding: 4px 11px;
	width: 100%;
	height: 32px;
	font-size: 14px;
	line-height: 1.5;
	color: rgba(0, 0, 0, 0.65);
	background-color: #fff;
	background-image: none;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	margin: 0 8px;
	width: 50px;
	}
	.ant-pagination-options-quick-jumper input::-moz-placeholder {
	color: #bfbfbf;
	opacity: 1;
	}
	.ant-pagination-options-quick-jumper input:-ms-input-placeholder {
	color: #bfbfbf;
	}
	.ant-pagination-options-quick-jumper input::-webkit-input-placeholder {
	color: #bfbfbf;
	}
	.ant-pagination-options-quick-jumper input:hover {
	border-color: #40a9ff;
	border-right-width: 1px !important;
	}
	.ant-pagination-options-quick-jumper input:focus {
	border-color: #40a9ff;
	outline: 0;
	-webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
			box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
	border-right-width: 1px !important;
	}
	.ant-pagination-options-quick-jumper input-disabled {
	background-color: #f5f5f5;
	opacity: 1;
	cursor: not-allowed;
	color: rgba(0, 0, 0, 0.25);
	}
	.ant-pagination-options-quick-jumper input-disabled:hover {
	border-color: #e6d8d8;
	border-right-width: 1px !important;
	}
	textarea.ant-pagination-options-quick-jumper input {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
	-webkit-transition: all 0.3s, height 0s;
	transition: all 0.3s, height 0s;
	min-height: 32px;
	}
	.ant-pagination-options-quick-jumper input-lg {
	padding: 6px 11px;
	height: 40px;
	font-size: 16px;
	}
	.ant-pagination-options-quick-jumper input-sm {
	padding: 1px 7px;
	height: 24px;
	}
	.ant-pagination-simple .ant-pagination-prev,
	.ant-pagination-simple .ant-pagination-next {
	height: 24px;
	line-height: 24px;
	vertical-align: top;
	}
	.ant-pagination-simple .ant-pagination-prev .ant-pagination-item-link,
	.ant-pagination-simple .ant-pagination-next .ant-pagination-item-link {
	border: 0;
	height: 24px;
	}
	.ant-pagination-simple .ant-pagination-prev .ant-pagination-item-link:after,
	.ant-pagination-simple .ant-pagination-next .ant-pagination-item-link:after {
	height: 24px;
	line-height: 24px;
	}
	.ant-pagination-simple .ant-pagination-simple-pager {
	display: inline-block;
	margin-right: 8px;
	height: 24px;
	}
	.ant-pagination-simple .ant-pagination-simple-pager input {
	margin-right: 8px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #d9d9d9;
	outline: none;
	padding: 0 6px;
	height: 100%;
	text-align: center;
	-webkit-transition: border-color 0.3s;
	transition: border-color 0.3s;
	}
	.ant-pagination-simple .ant-pagination-simple-pager input:hover {
	border-color: #1890ff;
	}
	.ant-pagination.mini .ant-pagination-total-text,
	.ant-pagination.mini .ant-pagination-simple-pager {
	height: 24px;
	line-height: 24px;
	}
	.ant-pagination.mini .ant-pagination-item {
	margin: 0;
	min-width: 24px;
	height: 24px;
	line-height: 22px;
	}
	.ant-pagination.mini .ant-pagination-item:not(.ant-pagination-item-active) {
	background: transparent;
	border-color: transparent;
	}
	.ant-pagination.mini .ant-pagination-prev,
	.ant-pagination.mini .ant-pagination-next {
	margin: 0;
	min-width: 24px;
	height: 24px;
	line-height: 24px;
	}
	.ant-pagination.mini .ant-pagination-prev .ant-pagination-item-link,
	.ant-pagination.mini .ant-pagination-next .ant-pagination-item-link {
	border-color: transparent;
	background: transparent;
	}
	.ant-pagination.mini .ant-pagination-prev .ant-pagination-item-link:after,
	.ant-pagination.mini .ant-pagination-next .ant-pagination-item-link:after {
	height: 24px;
	line-height: 24px;
	}
	.ant-pagination.mini .ant-pagination-jump-prev,
	.ant-pagination.mini .ant-pagination-jump-next {
	height: 24px;
	line-height: 24px;
	margin-right: 0;
	}
	.ant-pagination.mini .ant-pagination-options {
	margin-left: 2px;
	}
	.ant-pagination.mini .ant-pagination-options-quick-jumper {
	height: 24px;
	line-height: 24px;
	}
	.ant-pagination.mini .ant-pagination-options-quick-jumper input {
	padding: 1px 7px;
	height: 24px;
	width: 44px;
	}
	@media only screen and (max-width: 992px) {
	.ant-pagination-item-after-jump-prev,
	.ant-pagination-item-before-jump-next {
		display: none;
	}
	}
	@media only screen and (max-width: 576px) {
	.ant-pagination-options {
		display: none;
	}
	}
}


// 加载中
#loading {
	width: 100%;
	height: 20px;
	line-height: 20px;
	padding: 30px 0;
	text-align: center;
	color: #999;

	i {
		display: inline-block;
		width: 20px;
		height: 20px;
		margin-right: 2px;
		background: url(../img/loading.gif) no-repeat;
		background-size: cover;
		background-position: left center;
		vertical-align: top;
	}
}


// 音乐详情页面按钮
#topList_page,
#playDetail_page,
#songDetail_page,
#albumDetail_page,
#my_page {
	.operation {
		overflow: hidden;
		margin-top: 19px;
		
		.u-btn2 {
			float: left;
		}
		a {}
		.add-play {
			color: #fff;
			background-position: right -428px;

			&:hover {
				background-position: right -510px;

				i {
					background-position: 0 -469px;
				}
				.play {
					background-position: -14px -719px;
				}
			}
			&:active {
				background-position: right -592px;

				i {
					background-position: 0 -551px;
				}
				.play {
					background-position: -14px -805px;
				}
			}
			i {
				padding: 0 7px 0 8px;
				background-position: 0 -387px;
			}
			.play {
				float: left;
				width: 16px;
				height: 30px;
				background-position: -14px -633px;
			}
		}
		.add {
			width: 32px;
			height: 30px;
			margin-left: -3px;
			margin-right: 5px;
			padding-right: 0;
			background-position: 0 -1588px;
			
			&:hover {
				background-position: -40px -1588px;
			}
			&:active {
				background-position: -80px -1588px;
			}
		}
		.u-btni {
			margin-right: 6px;
			font-family: simsun;

			&:hover {
				background-position: right -1106px;
			}
		}
		.u-btni {
			min-width: 23px;
			background-position: right -1020px;
		}
		.u-btni i {
			min-width: 23px;
			padding-left: 28px;
			padding-right: 2px;
		}
		.collect {
			i {
				background-position: 0 -977px;
			}
			&:hover i {
				background-position: 0 -1063px;
			}
		}
		.share {
			i {
				background-position: 0 -1225px;
			}
			&:hover i {
				background-position: 0 -1268px;
			}
		}
		.download {
			i {
				background-position: 0 -2761px;
			}
			&:hover i {
				background-position: 0 -2805px;
			}
		}
		.comment {
			i {
				background-position: 0 -1465px;
			}
			&:hover i {
				background-position: 0 -1508px;
			}
		}
	}
}
// =============公共模块=============




// =============各个页面样式=============
// 首页
#home_banner {
	height: 336px;
	background-repeat: repeat-x;
	
	.inner {
		position: relative;
		width: 982px;
		height: 336px;
		margin: 0 auto;
	}
	.wrap {
		.pic img {
			width: 730px;
			height: 336px;
		}
		.btn {
			display: block;
			position: absolute;
			top: 50%;
			margin-top: -31px;
			width: 37px;
			height: 63px;
		}
		.btn-prev {
			left: -68px;
			background-position: 0 -360px;
			
			&:hover {
				background-position: 0 -430px;
			}
		}
		.btn-next {
			right: -68px;
			background-position: 0 -508px;

			&:hover {
				background-position: 0 -578px;
			}
		}
	}
	.nav {
		position: absolute;
		width: 100%;
		bottom: 0;
		text-align: center;
		
		li {
			display: inline-block;
			width: 20px;
			height: 20px;
			background: url(../img/icon-banner.png) no-repeat;
			background-position: 3px -343px;
			cursor: pointer;
			
			&:hover, &.active {
				background-position: -16px -343px;
			}
		}
	}
	.download, .download a {
		background: url(../img/banner-download.png) no-repeat 0 0;
	}
	.download {
		position: absolute;
		top: 0;
		right: -1px;
		width: 254px;
		height: 336px;

		a {
			display: block;
			width: 215px;
			height: 56px;
			margin: 212px 0 0 19px;
			background-position: 0 9999px;

			&:hover {
				background-position: 0 -340px;
			}
		}
		p {
			margin: 10px 0;
			text-align: center;
			color: #8d8d8d;
		}
		.shadow, .shadow-r {
			width: 20px;
			height: 336px;
			position: absolute;
			top: 0;
			background: url(../img/icon-banner.png) no-repeat;
		}
		.shadow {
			left: -20px;
		}
		.shadow-r {
			right: -20px;
			background-position: -20px 0;
		}
	}
}
#home_page {
	.home-bd {
		background: url(../img/wrap_1.png) repeat-y 100% 100%;
	}
	
	.main-content {
		margin-right: 254px;
		
		& > .inner {
			padding: 20px 20px 40px;
		}
		.header {
			position: relative;
			height: 32px;
			margin-bottom: 20px;
			border-bottom: 2px solid #C10D0C;

			h3 {
				float: left;
				height: 32px;
				line-height: 30px;
				padding-left: 34px;
				font-size: 20px;
				background-position: -225px -155px;
			}
			.cat {
				float: left;
				margin: 10px 0 0 14px;
				
				li {
					display: inline-block;
				}
				a {
					color: #666;
				}
				span {
					color: #ccc;
					margin: 0 6px;
				}
			}
			.more {
				position: absolute;
				top: 0;
				right: 0;
				height: 32px;
				padding-right: 26px;
				line-height: 32px;
				background-position: 28px -230px;
				
				a {
					color: #666;
				}
			}
		}
		.play-list {
			margin-left: -42px;
			
			li {
				float: left;
				width: 140px;
				height: 200px;
				margin: 0 0 40px 42px;
			}
			.pic {
				position: relative;
				width: 140px;
				height: 140px;
				
				img, .mask {
					width: 100%;
					height: 100%;
				}
				.mask {
					position: absolute;
					left: 0;
					top: 0;
				}
				.info {
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 27px;
					line-height: 27px;
					color: #ccc;
					background-position: 0 -537px;
					
					span.icon-seven {
						padding-left: 20px;
						margin-left: 6px;
						background-position: 4px -22px;
					}
					span.num {
						margin-left: 2px;
					}
					.play {
						position: absolute;
						right: 10px;
						bottom: 5px;
						width: 16px;
						height: 17px;
						background-position: 0 0;

						&:hover {
							background-position: 0 -60px;
						}
					}
				}
			}
			.desc {
				padding-top: 8px;
				line-height: 1.4;

				a {
					font-size: 14px;
				}
				.icon-six {
					position: relative;
					top: 2px;
					margin-right: 2px;
					display: inline-block;
					width: 35px;
					height: 15px;
					background-position: -31px -658px;
				}
			}
		}
		.recomment {
			.play-list li {
				height: auto;
			}
			.week {
				height: 33px;
				line-height: 33px;
				color: #fed9d9;
				font-size: 14px;
				text-align: center;
			}
			.day {
				line-height: 102px;
				font-size: 94px;
				text-align: center;
			}
			.date-mask {
				position: absolute;
				left: 0;
				top: 33px;
				width: 142px;
				height: 107px;
				background-position: 0 -150px;
			}
			.date-tip {
				display: block;
				color: #999;
			}
			.copywriter {
				position: relative;

				span {
					color: #999;
					line-height: 1.4;
				}
				&:hover span {
					visibility: hidden;
				}
				a {
					
					display: none;
					width: 64px;
					height: 26px;
					line-height: 26px;
					text-align: center;
					color: #666;
					background-position: 0 -130px;

					&:hover {
						background-position: -70px -130px;
					}
				}
				&:hover a {
					position: absolute;
					top: 10px;
					left: 0;
					display: block;
				}
			}
		}
		.album-list {
			position: relative;
			margin: 20px 0 36px;
			border: 1px solid #d3d3d3;
			
			.inner {
				height: 184px;
				border: 1px solid #fff;
				background-color: #f5f5f5;
			}
			.wrap {
				overflow: hidden;
				width: 645px;
				height: 184px;
				margin-left: 16px;
			}
			.sliderWrap {
				width: 1290px;
			}
			ul.second {
			}
			ul {
				width: 645px;
				margin-top: 28px;

				li {
					float: left;
					width: 118px;
					margin-left: 11px;
					background-image: url(../img/icon-five.png);
					background-repeat: no-repeat;
					background-position: -260px 100px;
				}
				.pic {
					position: relative;
					width: 100px;
					height: 100px;
					margin-bottom: 6px;
				}
				img {
					width: 100%;
					height: 100%;
				}
				.mask {
					position: absolute;
					width: 118px;
					height: 100%;
					left: 0;
					top: 0;
					background-position: 0 -570px;
				}
				.play {
					position: absolute;
					z-index: 10;
					width: 22px;
					height: 22px;
					right: 10px;
					bottom: 5px;
					background-position: 0 -85px;

					&:hover {
						background-position: 0 -110px;
					}
				}
				
				.info {}
				.name, .singer {
					display: block;
					width: 90%;
					height: 18px;
					line-height: 18px;
				}
				.name {}
				.singer a {
					color: #666;
				}
			}
			.btn {
				a {
					position: absolute;
					top: 72px;
					width: 8px;
					height: 14px;
					outline: none;
				}
				.prev {
					left: 8px;
					background-position: -265px -77px;

					&:hover {
						background-position: -285px -77px;
					}
				}
				.next {
					right: 8px;
					background-position: -305px -77px;

					&:hover {
						background-position: -325px -77px;
					}
				}
			}
		}
		.rank-list {
			position: relative;
			height: 472px;
			background: url(../img/home_rank.png) no-repeat;
			
			.inner {}
			.item {
				position: relative;
				float: left;
				width: 230px;
				height: 472px;
			}
			.item:last-child {
				width: 226px;
			}
			.top {
				position: relative;
				height: 120px;
			}
			.pic {
				position: absolute;
				left: 20px;
				top: 20px;
				width: 80px;
				height: 80px;

				img {
					width: 100%;
					height: 100%;	
				}
				.mask {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background-position: -145px -57px;
				}
			}
			.info {
				padding: 20px 0 0 110px;
				
				h3 {
					line-height: 36px;
					font-size: 14px;
					font-weight: bold;
				}
				.icon-five {
					display: inline-block;
					width: 22px;
					height: 22px;
					margin-right: 8px;
				}
				.icon-play {
					background-position: -267px -205px;
					&:hover {
						background-position: -267px -235px;
					}
				}
				.icon-collect {
					background-position: -300px -205px;
					&:hover {
						background-position: -300px -235px;
					}
				}
			}
			.list {
				li {
					position: relative;
					height: 32px;
					line-height: 32px;
				}
				.num {
					position: absolute;
					left: 20px;
					width: 30px;
					height: 32px;
					text-align: center;
					font-size: 14px;
				}
				.num-top {
					color: #c10d0c;
				}
				.name {
					display: block;
					width: 170px;
					height: 32px;
					margin-left: 50px;
				}
				li:hover .name {
					width: 96px;
				}
				.operation {
					display: none;
					position: absolute;
					top: 4px;
					right: 10px;
				}
				li:hover .operation {
					display: block;
				}
				.icon-five, .icon-six {
					display: inline-block;
					width: 17px;
					height: 17px;

				}
				.icon-play {
					background-position: -267px -268px;
					&:hover {
						background-position: -267px -288px;
					}
				}
				.icon-add {
					margin: 0 6px;
					background-position: 0 -698px;
					&:hover {
						background-position: -22px -698px;
					}
				}
				.icon-collect {
					background-position: -297px -268px;
					&:hover {
						background-position: -297px -288px;
					}
				}
			}
			.more {
				position: absolute;
				right: 30px;
				bottom: 0;
				height: 32px;
				line-height: 32px;
			}
		}
	}
	.main-siderBar {
		position: absolute;
		top: 0;
		right: 0;
		width: 250px;
		
		.user {
			.not-login {
				height: 126px;

				p {
					width: 205px;
					line-height: 24px;
					margin: 14px auto;
					color: #666;
				}
				a {
					display: block;
					width: 100px;
					height: 31px;
					margin: 0 auto;
					line-height: 31px;
					text-align: center;
					color: #fff;
					background-position: 0 -195px;
					text-shadow: 0 1px 0 #8a060b;
				}
			}
			.logined {
				height: 165px;
				padding-top: 20px;
				background-position: 0 -270px;
				
				.t {
					padding: 0 26px 0 20px;
				}
				.avatar {
					display: inline-block;
					border: 1px solid #d8d8d6;
					
					img {
						width: 80px;
						height: 80px;
						border: 2px solid #fff;
					}
				}
				.info {
					float: right;
					width: 100px;
					
					a {
					}
					.name {
						width: 100px;
						line-height: 24px;
						font-weight: bold;
						font-size: 13px;
					}
					.level {
						display: inline-block; 
						height: 17px;
						padding-left: 25px;
						line-height: 18px;
						background-position: -130px -64px;
						color: #999;
						font-style: italic;

						&:hover {
							color: #777;
							background-position: -130px -84px;

							i {
								background-position: -192px -84px;
							}
						}
						i {
							float: right;
							width: 8px;
							height: 17px;
							background-position: -192px -64px;
						}
					}
					.sign {
						margin-top: 15px;
						color: #fff;
						background-position: right -428px;
						
						&:hover {
							background-position: right -510px;
							i {
								background-position: 0 -469px;
							}
						}
						i {
							width: 85px;
							background-position: 0 -387px;
						}
					}
				}
				.b {
					margin: 20px 0 0 20px;
					
					a {
						float: left;
						height: 40px;
						padding: 0 18px;
						border-right: 1px solid #e4e4e4;
						color: #666;
						
						&:first-child {
							padding-left: 0;
						}
						&:last-child {
							border-right: none;
						}
					}
					strong {
						display: block;
						font-size: 20px;
						line-height: 28px;
					}
					span {
						display: block;
					}
				}
			}
		}
		.singer {
			padding: 10px 20px 14px;
			
			.list {
				li {
					position: relative;
					height: 60px;
					margin-bottom: 14px;
					border: 1px solid #e9e9e9;
					background-color: #fafafa;

					&:hover {
						background-color: #f4f4f4;
					}
				}
				a {
					display: block;
					width: 100%;
					height: 100%;
				}
				img {
					position: absolute;
					left: -1px;
					top: -1px;
					width: 62px;
					height: 62px;
				}
				h3, p {
					margin-left: 76px;
				}
				h3 {
					line-height: 34px;
					font-size: 14px;
					font-weight: bold;
				}
				p {
					line-height: 24px;
					color: #666;
				}
			}
			.btn {
				background-position: right -100px;
				border-radius: 4px;
				font-weight: bold;

				&:hover {
					background-position: right -182px;

					i {
						background-position: 0 -141px;
					}
				}
				&:active {
					background-position: right -264px;

					i {
						background-position: 0 -223px;
					}
				}
				i {
					padding: 0 15px 0 20px;
					width: 170px;
					background-position: 0 -59px;
				}
			}
		}
		.bar-title {
			margin-bottom: 20px;
			height: 29px;
			border-bottom: 1px solid #cccccc;
			
			h4 {
				display: inline-block;
				line-height: 29px;
			}
			a {
				margin-top: 9px;
				color: #666;
			}
		}
	}
}

// 排行榜
#topList_page {
	.topList-bd {
		background: url(../img/wrap_3.png) repeat-y 100% 100%;
	}	
	.main-content {
		width: 740px;
		margin-left: 240px;
		padding-bottom: 40px;

		.inner {
			padding: 39px 30px 40px 39px;
		}
	}
	.song-summary {
		height: 200px;
		
		.pic {
			position: relative;
			float: left;
			padding: 3px;
			border: 1px solid #ccccca;
			
			img {
				width: 150px;
				height: 150px;
			}
			.mask {
				position: absolute;
				left: 3px;
				top: 3px;
				width: 150px;
				height: 150px;
				background-position: -230px -380px;
			}
		}
		.info {
			float: left;
			margin-left: 28px;
			
			h3 {
				margin-top: 16px;
				font-size: 20px;
				line-height: 24px;
			}
			.time {
				line-height: 40px;
				color: #666;

				i {
					display: inline-block;
					position: relative;
					top: 2px;
					width: 13px;
					height: 13px;
					margin: 2px 5px 0 0;
					background-position: -18px -682px;
				}
				span {
					color: #999;
				}
			}
		}
	}
	.song-list {
		.top {
			height: 31px;
			line-height: 24px;
			border-bottom: 2px solid #c20c0c;
			
			h3 {
				float: left;
				font-size: 20px;
			}
			.sont-num {
				float: left;
				padding-left: 20px;
				line-height: 31px;
				color: #666;
			}
			.play-num {
				float: right;
			}
			span {
				color: #c20c0c;
			}
		}
	}
	.main-siderBar {
		float: left;
		width: 240px;
		padding-top: 28px;

		h4 {
			text-indent: 15px;
			line-height: 44px;
			font-weight: bold;
			font-size: 14px;
		}
		li {
			&:hover {
				background-color: #f4f2f2;
			}
			&.active, &.active:hover, &.active a {
				cursor: default;
				background-color: #e6e6e6;
			}

			a {
				display: block;
				height: 40px;
				padding: 10px 0 10px 20px;
			}
		}
		.pic {
			float: left;
			padding-right: 8px;

			img {
				width: 40px;
				height: 40px;
			}
		}
		.info {
			float: left;
		}
		.name {
			line-height: 20px;
		}
		.tip {
			padding-top: 8px;
			color: #999;
		}
	}
}

// 歌单
#playList_page {
	.g-bd .inner {
		position: relative;
		padding: 40px;
	}
	.category {
		height: 40px;
		border-bottom: 2px solid #c20c0c;
		
		h3 {
			display: inline-block;
			font-size: 24px;
			padding: 5px 12px 0 0;
		}
		.u-btn2 {
			margin-top: 2px;
			background-position: right -100px;
			&:hover {
				background-position: right -182px;

				i {
					background-position: 0 -141px;
				}
			}
			
			i {
				color: #0c73c2;
				padding: 0 10px 0 15px;
				background-position: 0 -59px;
			}
			em {
				display: inline-block;
				width: 8px;
				height: 5px;
				margin-left: 5px;
				background-position: -70px -543px;
				vertical-align: middle;
			}
		}
		.fr {
			width: 93px;
			height: 29px;
			
			a {
				float: left;
				width: 46px;
				height: 29px;
				line-height: 29px;
				text-align: center;
			}
		}
		.hot .a1,
		.new .a2 {
			color: #fff;
		}
		.new {
			background-position: 0 -32px;
		}
	}
	.category-popup {
		display: none;
		position: absolute;
		z-index: 9;
		top: 75px;
		left: 0;
		
		&.show {
			display: block;
		}
		& > div {
			background: url(../img/sltlyr.png) no-repeat;
		}
		.t {
			height: 32px;

			i {
				position: absolute;
				top: 2px;
				left: 132px;
				display: inline-block;
				width: 24px;
				height: 11px;
				background-position: -48px 0;
				vertical-align: middle;
			}
		}
		.c {
			width: 700px;
			padding: 0 10px;
			background-position: -720px 0;
			background-repeat: repeat-y;

			.all {
				height: 37px;
				padding-left: 26px;
				border-bottom: 1px solid #e6e6e6;
				a {
					display: inline-block;
					width: 75px;
					height: 26px;
					background-position: 0 -64px;
					text-align: center;
					line-height: 26px;
				}
			}
			dl {
				overflow: hidden;
			}
			dt {
				float: left;
				width: 70px;
				padding-top: 15px;
				margin-left: 26px;
				font-weight: bold;
				border-right: 1px solid #e6e6e6;
				
				.icon-six {
					display: inline-block;
					width: 24px;
					height: 24px;
					margin-right: 8px;
					margin-bottom: 4px;
					vertical-align: middle;
				}
				.icon-t0 {
					width: 23px;
					height: 23px;
					background-position: -20px -735px;
				}
				.icon-t1 {
					background-position: 0 -60px;
				}
				.icon-t2 {
					background-position: 0 -88px;
				}
				.icon-t3 {
					background-position: 0 -117px;
				}
				.icon-t4 {
					background-position: 0 -141px;
				}
			}
			dd {
				margin-left: 96px;
				padding: 16px 15px 0 15px;
				line-height: 24px;
				border-left: 1px solid #e6e6e6;

				p {
					display: inline-block;
				}
				a {
					white-space: nowrap;

					&.cur {
						background: #a7a7a7;
						color: #fff;
						padding: 1px 6px;
					}
				}
				i {
					padding: 0 8px 0 10px;
					color: #d8d8d8;
				}
			}
		}
		.space {
			height: 25px;
		}
		.b {
			height: 20px;
			background-position: -1440px -12px;
		}
	}
	.play-list {
		min-height: 1500px;
		margin-top: 30px;
		margin-left: -50px;
		
		li {
			float: left;
			width: 140px;
			height: 188px;
			margin: 0 0 30px 50px;
		}
		.pic {
			position: relative;
			width: 140px;
			height: 140px;
			
			img, .mask {
				width: 100%;
				height: 100%;
			}
			.mask {
				position: absolute;
				left: 0;
				top: 0;
			}
			.info {
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 27px;
				line-height: 27px;
				color: #ccc;
				background-position: 0 -537px;
				
				span.icon-seven {
					padding-left: 20px;
					margin-left: 6px;
					background-position: 4px -22px;
				}
				span.num {
					margin-left: 2px;
				}
				.play {
					position: absolute;
					right: 10px;
					bottom: 5px;
					width: 16px;
					height: 17px;
					background-position: 0 0;

					&:hover {
						background-position: 0 -60px;
					}
				}
			}
		}
		.desc {
			padding: 8px 0 3px;
			line-height: 1.4;

			a {
				display: block;
				width: 100%;
				font-size: 14px;
			}
			.icon-six {
				position: relative;
				top: 2px;
				margin-right: 2px;
				display: inline-block;
				width: 35px;
				height: 15px;
				background-position: -31px -658px;
			}
		}
		.author {
			line-height: 1.4;
			color: #999;

			a {
				display: inline-block;
				padding-left: 5px;
				max-width: 76%;
				vertical-align: -3px;
			}
		}
	}
}

// 新碟上架
#album_page {
	.g-bd .inner {
		padding: 40px;
	}

	.album-title {
		height: 40px;
		border-bottom: 2px solid #c20c0c;

		h3 {
			font-size: 24px;
		}
	}
	.album-list {
		overflow: hidden;
		min-height: 1500px;
		margin: 20px 0 0 -33px;

		li {
			float: left;
			width: 153px;
			height: 178px;
			margin-left: 33px;
			margin-bottom: 30px;
			background-image: url(../img/icon-five.png);
			background-repeat: no-repeat;
			background-position: -260px 100px;
		}
		.pic {
			width: 130px;
			height: 130px;
			position: relative;
			margin-bottom: 6px;
		}
		img {
			width: 100%;
			height: 100%;
		}
		.mask {
			position: absolute;
			width: 153px;
			height: 130px;
			left: 0;
			top: 0;
			background-position: 0 -845px;
		}
		.play {
			position: absolute;
			z-index: 10;
			width: 22px;
			height: 22px;
			right: 10px;
			bottom: 5px;
			background-position: 0 -85px;

			&:hover {
				background-position: 0 -110px;
			}
		}
		
		.info {}
		.name, .singer {
			display: block;
			width: 90%;
			height: 18px;
			line-height: 18px;
		}
		.name {}
		.singer a {
			color: #666;
		}
	}
}

// 歌单详情
#playDetail_page,
#my_page {
	.main-inner {
		padding: 40px;
	}
	.summary {
		.pic {
			float: left;
			margin: -4px 0 0 -4px;
			border: 1px solid #d5d5d5;

			img {
				width: 200px;
				height: 200px;
				margin: 3px;
			}
		}
		.info {
			min-height: 200px;
			margin-left: 230px;
		}
		.title {
			i {
				display: inline-block;
				width: 54px;
				height: 24px;
				margin-right: 10px;
				background-position: 0 -243px;
				vertical-align: middle;
			}
			line-height: 24px;
			font-size: 20px;
		}
		.creater {
			margin-top: 12px;
			line-height: 35px;
			
			.avatar {
				img {
					width: 35px;
					height: 35px;
				}
			}
			.name {
				padding: 0 10px;
				color: #0c73c2;
			}
			.time {
				color: #999;
			}
		}
		.tag {
			margin-top: 25px;
			
			dt {
				display: inline-block;
				color: #666;
			}
			dd {
				display: inline-block;
				height: 18px;
				padding: 0 6px;
				margin-right: 10px;
				line-height: 18px;
				color: #999;
				border-radius: 20px;
				border: 1px solid #d1d1d1;
				text-align: center;
				background-color: #fdfdfd;
			}
		}
		.desc {
			margin-top: 10px;
			line-height: 20px;
			color: #666;
		}
	}
	.song-list {
		margin-top: 28px;
		
		.top {
			height: 31px;
			line-height: 24px;
			border-bottom: 2px solid #c20c0c;
			
			h3 {
				float: left;
				font-size: 20px;
			}
			.sont-num {
				float: left;
				padding-left: 20px;
				line-height: 31px;
				color: #666;
			}
			.play-num {
				float: right;
			}
			span {
				color: #c20c0c;
			}
		}
	}
	#m_table tbody .no {
		width: auto;
		margin-left: 5px;
	}
	#m_table .play {
		float: right;
		width: 17px;
		height: 17px;
		background-position: 0 -103px;
		vertical-align: middle;
		cursor: pointer;
	}
	.main-siderBar {
		position: absolute;
		top: 0;
		right: 0;
		width: 270px;
	}
}

// 歌曲详情
#songDetail_page {
	.main-inner {
		padding: 40px;
	}
	.summary {
		.pic {
			float: left;
			position: relative;
			width: 198px;
			height: 198px;
			
			img {
				width: 130px;
				height: 130px;
				margin: 34px;
			}
			.mask {
				position: absolute;
				left: -4px;
				top: -4px;
				width: 206px;
				height: 206px;
				background-position: -140px -580px;
			}
		}
		.info {
			min-height: 200px;
			margin-left: 230px;
		}
		.title {
			line-height: 24px;
			font-size: 24px;

			.tag {
				display: inline-block;
				width: 54px;
				height: 24px;
				margin-right: 10px;
				background-position: 0 -463px;
				vertical-align: middle;
			}
			.mv {
				display: inline-block;
				vertical-align: middle;
				
				i {
					display: block;
					width: 21px;
					height: 18px;
					margin-left: 8px;
					background-position: 0 -18px;
				}
			}
		}
		.recource {
			font-size: 14px;
			margin-top: 5px;
			margin-left: 64px;
			color: #bababa;
		}
		.singer {
			margin: 15px 0;
			color: #999;
			a {
				color: #0c73c2;
			}
		}
		.lyric {
			margin-top: 20px;
			line-height: 22px;
		}
	}
}

// 专辑详情
#albumDetail_page {
	.main-inner {
		padding: 40px;
	}
	.summary {
		.pic {
			float: left;
			position: relative;
			width: 178px;
			height: 178px;
			
			img {
				width: 100%;
				height: 100%;
			}
			.mask {
				position: absolute;
				left: 0;
				top: 0;
				width: 209px;
				height: 178px;
				background-position: 0 -986px;
			}
		}
		.info {
			min-height: 200px;
			margin-left: 230px;
		}
		.title {
			line-height: 24px;
			font-size: 24px;

			.tag {
				display: inline-block;
				width: 54px;
				height: 24px;
				margin-right: 10px;
				background-position: 0 -186px;
				vertical-align: middle;
			}
			.mv {
				display: inline-block;
				vertical-align: middle;
				
				i {
					display: block;
					width: 21px;
					height: 18px;
					margin-left: 8px;
					background-position: 0 -18px;
				}
			}
		}
		.recource {
			font-size: 14px;
			margin-top: 5px;
			margin-left: 64px;
			color: #bababa;
		}
		.intro {
			margin-top: 4px;
			line-height: 18px;
			color: #666;
			a {
				color: #0c73c2;
			}
		}
	}
	.desc {
		margin-top: 20px;
		b {
			font-weight: bold;
		}
		span {
			display: block;
			margin-left: 2em;
			margin-top: 10px;
			color: #666;
			line-height: 24px;
		}
	}
	.song-list {
		margin-top: 28px;
		
		.top {
			height: 31px;
			line-height: 24px;
			border-bottom: 2px solid #c20c0c;
			
			h3 {
				float: left;
				font-size: 20px;
			}
			.sont-num {
				float: left;
				padding-left: 20px;
				line-height: 31px;
				color: #666;
			}
			.play-num {
				float: right;
			}
			span {
				color: #c20c0c;
			}
		}
	}
}

// MV详情
#mvDetail_page {
	.main-inner {
		padding: 40px;
	}
	.mv-title {
		line-height: 32px;
		font-size: 24px;
		margin-bottom: 8px;
		
		i {
			display: inline-block;
			width: 29px;
			height: 18px;
			margin-right: 5px;
			background-position: -230px -480px;
		}
		a {
			padding-left: 5px;
			color: #0c73c2;
			font-size: 12px;
		}
	}
	.video-react {
		margin-bottom: 20px;
		outline: none;
	}
	.time, .count {
		line-height: 20px;
		color: #666;
	}
	.desc {
		max-width: 640px;
		line-height: 18px;
		margin-top: 20px;
	}
}

// 我的音乐
#my_page {
	.my-bd {
		background: url(../img/wrap_3.png) repeat-y 100% 100%;
	}	
	.main-content {
		width: 740px;
		margin-left: 240px;
		padding-bottom: 40px;

		.inner {
			padding: 39px 30px 40px 39px;
		}
	}
	.main-siderBar {
		position: static;
		float: left;
		width: 240px;
	}
	.total-collect {
		padding-top: 40px;
		&.fixed {
			position: fixed;
			top: 0;
			width: 240px;
			padding-top: 0;
		}
		
		.item {
			height: 36px;
			line-height: 36px;
			
			a {
				display: block;
				font-size: 14px;
				font-weight: bold;
				padding: 0 5px 2px 35px;
			}
			i {
				display: inline-block;
				margin: 0 5px 0 -18px;
				border-width: 7px 6px 0;
				border-color: #ccc transparent transparent;
				border-style: solid dashed dashed;
			}
			i.icon-folded {
				margin-right: 0;
				border: 7px solid #ccc;
				border-color: transparent transparent transparent #ccc;
				border-style: dashed dashed dashed solid;
			}
		}
		.item-singer:hover, .item-mv:hover {
			background-color: #eee;
		}
		.list {
			li {
				position: relative;
				height: 42px;
				padding: 6px 0 6px 20px;
				
				&:hover {
					background-color:#f4f2f2;
				}
				&.active {
					background-color:#e6e6e6;
				}
			}
			.pic {
				float: left;
				img {
					width: 40px;
					height: 40px;
				}
			}
			.info {
				margin-left: 50px;
				p {}
			}
			.name {
				width: 150px;
				margin: 4px 0 10px 0;
			}
			.author {
				width: 130px;
				color: #999;
			}
			.link {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
	.summary {
		padding: 40px;
	}
	.song-list .top {
		padding: 0 10px;
	}
	.comment-oper .top,
	.comment-oper .cont {
		padding: 0 20px;
	}
	.comment-list {
		padding: 0 20px;
	}
}

// 用户页面
#user_page {
	.main-inner {
		padding: 40px;
	}
	.user-info {
		padding-bottom: 44px;
		.pic {
			img {
				width: 180px;
				height: 180px;
				padding: 3px;
				border: 1px solid #d5d5d5;
				background-color: #fff;
			}
		}
		.info {
			height: 180px;
			margin-left: 220px;
		}
		.name {
			height: 36px;
			line-height: 36px;
			padding-bottom: 12px;
			margin-bottom: 15px;
			border-bottom: 1px solid #ddd;
			font-size: 22px;
		}
		.level {
			display: inline-block;
			height: 19px;
			overflow: hidden;
			margin-left: 10px;
			padding-left: 29px;
			line-height: 21px;
			color: #e03a24;
			font-size: 14px;
			font-weight: bold;
			font-style: italic;
			background-position: -135px -190px;

			i {
				float: right;
				width: 9px;
				height: 19px;
				background-position: -191px -190px;
			}
		}
		.gender {
			display: inline-block;
			width: 20px;
			height: 20px;
			margin-left: 10px;
			background-position: -41px -57px;
		}
		.gender-woman {
			background-position: -41px -27px;
		}
		.data {
			overflow: hidden;
			a {
				float: left;
				height: 40px;
				padding: 0 40px 0 20px;
				border-right: 1px solid #e4e4e4;
				color: #666;

				&:hover {
					color: #0c73c2;
				}
				&:first-child {
					padding-left: 0;
				}
			}
			strong {
				display: block;
				font-size: 24px;
				line-height: 28px;
			}
			span {
				display: block;
			}
		}
		.desc {
			margin-top: 10px;
			line-height: 30px;
			color: #666;
		}
	}
	.title {
		height: 40px;
		border-bottom: 2px solid #c20c0c;
		
		h3 {
			display: inline-block;
			font-size: 24px;
			padding: 5px 12px 0 0;
		}
	}
	.play-list {
		margin-top: 30px;
		margin-left: -50px;
		
		li {
			float: left;
			width: 140px;
			height: 188px;
			margin: 0 0 30px 50px;
		}
		.pic {
			position: relative;
			width: 140px;
			height: 140px;
			
			img, .mask {
				width: 100%;
				height: 100%;
			}
			.mask {
				position: absolute;
				left: 0;
				top: 0;
			}
			.info {
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 27px;
				line-height: 27px;
				color: #ccc;
				background-position: 0 -537px;
				
				span.icon-seven {
					padding-left: 20px;
					margin-left: 6px;
					background-position: 4px -22px;
				}
				span.num {
					margin-left: 2px;
				}
				.play {
					position: absolute;
					right: 10px;
					bottom: 5px;
					width: 16px;
					height: 17px;
					background-position: 0 0;

					&:hover {
						background-position: 0 -60px;
					}
				}
			}
		}
		.desc {
			padding: 8px 0 3px;
			line-height: 1.4;

			a {
				display: block;
				width: 100%;
				font-size: 14px;
			}
			.icon-six {
				position: relative;
				top: 2px;
				margin-right: 2px;
				display: inline-block;
				width: 35px;
				height: 15px;
				background-position: -31px -658px;
			}
		}
		.author {
			line-height: 1.4;
			color: #999;

			a {
				display: inline-block;
				padding-left: 5px;
				max-width: 76%;
				vertical-align: -3px;
			}
		}
	}
}
// =============各个页面样式=============